<section class="py-5">
  <div class="py-lg-3">
    <h2>Twoje ogłoszenie:</h2>
    <%= bootstrap_form_for @advertisement, url: create_or_update_specialist_ads_path, layout: :floating do |f| %>
      <div class="form-inputs">
        <%= f.text_field :title, label: "Tytuł", placeholder: "Tytuł", floating: true, required: true, autofocus: true %>
        <%= f.text_area :description, label: "Opis", placeholder: "Opis", floating: true, style: "height: 200px;", required: true %>
        <%= f.number_field :desired_salary, label: "Oczekiwane wynagrodzenie", placeholder: "Oczekiwane wynagrodzenie", floating: true, step: 1 %>
        <%= f.url_field :portfolio_url, label: "URL Portfolio", placeholder: "http://twojeportfolio.com", floating: true %>

        <%= f.submit "Zapisz", class: 'btn btn-primary actions mt-2 mb-2' %>
      </div>
    <% end %>
    <div class="auth-links">
      <p class="mt-4">
        <a href="<%= specialist_ads_path %>" class="btn btn-secondary my-2">Powrót do listy</a>
      </p>
    </div>
  </div>
</section>