            <%= link_to specialist_ad, class: "list-group-item list-group-item-action flex-column align-items-start", data: { turbo_frame: "user_profile" } do %>
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><%= user.first_name %> <%= user.last_name %></h5>
                <small><%= time_ago_in_words(user.created_at) %> ago</small>
              </div>
              <div class="d-flex w-100 justify-content-between">
                <p class="mb-1"><%= user.description %></p>
              </div>
              <p class="mb-1"><%= user.specialist_ad&.description %></p>
              <small><%= user.specialist_ad&.portfolio_url %></small>
            <% end %>